.cta-container {
    background: url(../../imgs/resources/main-img.png);
    display: grid;
    background-position: center;
    background-size: cover;
    height: 19rem;
    width: 100%;
    opacity: 80%;
}

.det-container {
    margin-top: 100px;
    width: 80%;
    height: 60%;
    display: flex;
    margin-left: 2rem;

}

.det-container-text {
    width: 100%;
    display: flex;
}

.det-second-container {
    display: flex;
    width: 100%;

}

.title-container {
    position: relative;
    width: 25%;
    margin-left: 100px;
    display: flex;
    font-family: var(--ff-main);
}

.second-container {
    font-size: var(--fs-md);
    margin-top: -0.7rem;
    margin-left: 5px;
}

.most-voting-container {
    text-align: center;
}


.most-voting-container {
    text-align: center;
}

.voted-recipes-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    margin: 2rem auto;
    gap: 2rem;
    width: 87vw;
}

.recepie {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid var(--clr-black);
}

.hardpl-recepie {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 2rem;

}

.featured-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin: 2rem auto;
    gap: 2rem;
    width: 85vw;
}

.vote-item {
    width: 100%;
    display: flex;
    margin-top: -6rem;
    margin-left: 2.5rem;
}

.account-container{
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;;
    
}

.login{
    display: grid;
    border-radius: 2rem;
    text-align: center;
    padding: 2.3rem 2.5rem;
    border: 3px solid var(--clr-black);
}
.confirmation{
    display: grid;
    border-radius: 2rem;
    text-align: center;
    border: 3px solid var(--clr-black);
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}
.form-items{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: .5rem 0;
    align-items: center;
}
.register{
    display: grid;
    border-radius: 2rem;
    text-align: center;
    border: 3px solid var(--clr-black);
    padding: 2rem 2.1rem;
}
.destinations-container{
    text-align: center;
}
.activity{
    display: grid;
    text-align: center;
}
.search-container{
    margin: auto;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767.98px) {
    .cta-container {
        background-position: left;
        margin-top: 4rem;
    }

    .featured-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .det-container {
        font-size: var(--fs-sm);
        width: 100%;
        height: 40%;
    }

    .title-container {
        font-size: var(--fs-sm);
        margin-left: 30px;
    }

    .second-container {
        margin-top: 1rem;
        margin-left: 9px;

    }

    .vote-item {
        margin-top: -9rem;
        font-size: var(--fs-xs);
        margin-right: 220px;
        padding-bottom: 2rem;
    }

    .voted-recipes-container {
        margin: auto;
    }
}