.cta-container {
    background: url(../../imgs/resources/main-img.png);
    display: grid;
    background-position: center;
    background-size: cover;
    height: 19rem;
    width: 100%;
    opacity: 80%;
}

.det-container {
    margin-top:100px;
    width: 80%;
    height: 60%;
    display: flex;

}
.det-container-text {
    width: 100%;
    display: flex;
}

.det-second-container {
    display: flex;
    width: 100%;

}

.img-details {
    border-radius: 100%;
    background-position: center;
    margin-left: 100px;
    display: flex;
    width: 20%;

}

.title-container-two {
    position: relative;
    width: 17%;
    margin-left: 100px;
    display: flex;
}

.title-container {
    position: relative;
    width: 25%;
    margin-left: 100px;
    display: flex;
}

.second-container {
    margin-top: -100px;
    position: relative;
    width: 100%;
}

.vote-item {
    width: 100%;
    display: flex;
}

.left {
    width: 4%;
    margin-right: 10px;
}

.right {
    width: 4%;
    margin-left: 100px;
    margin-right: 10px;
}

.line {
    border-top: 10px solid hsl(0, 88%, 58%);
}

.space {
    margin-left: 200px;
}

.text-details {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.text-details-two {
    display: flex;
    margin-top: 50px;
    margin-left: 500px;
  
}

.title-detail {
    margin-left: 400px
}
.two-columns {
    column-count: 2;
    column-gap: 20px; 
}

.realce {
    transition: transform 0.2s;
}

.realce:hover {
    transform: scale(1.2);
}


.most-voting-container {
    text-align: center;
}


.most-voting-container {
    text-align: center;
}

.voted-recipes-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    margin: 2rem auto;
    gap: 2rem;
    width: 85vw;
}

.recepie {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid var(--clr-black);
}

.featured-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin: 2rem auto;
    gap: 2rem;
    width: 85vw;
}

@media (max-width: 767.98px) {
    .cta-container {

        background-position: left;
        margin-top: 4rem;
    }

}