.header-title {
    color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    margin-left: 1rem;
    display: flex;
    width: 13rem;
    padding: 0.8rem;
}

.voting-title {
    color: var(--clr-black);
    font-family: var(--ff-main);
    font-size: var(--fs-md);

}

.featured-txt {
    color: var(--clr-black);
    font-family: var(--ff-main);
    font-size: var(--fs-md);

}

.recepie-title {
    font-family: var(--ff-main);
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.recepie-details-txt {
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    color: var(--clr-white);
    text-align: center;
    margin-top: 1.4rem;
    font-weight: var(--fw-regular);

}

.featured-title {
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    text-align: center;
    margin-top: 3rem;
    

}

.featured-details-txt {
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    color: var(--clr-white);
    text-align: center;
    margin-top: 1.3rem;
    font-weight: var(--fw-regular);

}

.footer-text {
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    color: var(--clr-gray);
    text-align: center;
}

.space {
    margin-left: 4rem;
}

.text-details {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    width: 80%;
}

.text-details-two {
    display: flex;
    margin-top: 50px;
    margin-left: 500px;

}

.hardpl-details-text {
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    margin-top: .3rem;
    margin-left: 1.5rem;
}

.hardpl-details-show {
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    text-align: center;
}

.title-detail {
    margin-left: 350px
}

.title-hardpl {
    font-size: var(--fs-md);
    font-family: var(--ff-main);
    margin-top: 2rem;
    margin-left: 17rem;
}


.realce {
    transition: transform 0.2s;
}

.realce:hover {
    transform: scale(1.2);
}

.det-container-textdetails {
    font-family: var(--ff-main);
}

@media (max-width: 767.98px) {
    .featured-txt {
        margin-top: 2rem;
    }

    .recepie-title {
        font-size: var(--fs-sm);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .recepie-details-txt {
        font-size: var(--fs-xs);
        margin-top: 1.3rem;

    }

    .img-details {
        width: 100%;
        height: 70%;
        margin-top: 3rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-details {
        font-size: var(--fs-xs);
        margin-left: -5px;
        margin-right: 10px;
        width: 100%;
        margin-top: -0.1rem;
    }

    .title-hardpl {
        font-size: var(--fs-sm);
        margin-top: 2rem;
        margin-left: 3.5rem;
    }

    .hardpl-details-text {
        font-size: var(--fs-xs);
        margin-left: 0.3rem;
    }

}