.logo-nav{
    scale: 25%;
    left: -8rem;
    position: absolute;
    top: -2.5rem;
}

.log-nav{
    scale: 125%;
    position: absolute;
    right: 5rem;
    top: 1.1rem;
}

.register-nav{
    scale: 135%;
    position: absolute;
    right: 1rem;
    top: 1rem;

}

.recepie-main{
    border-bottom-left-radius: 2rem;
    width: 110%;
    display: flex;
}

.featured-img{
    border-bottom-left-radius: 2rem;
    width: 110%;
    height: 8.9375rem;
    display: flex;
    margin-top: 3rem;
}

.red-box{
   background-color: var(--clr-red);
   border-top-right-radius: 2rem;
   border-bottom-right-radius: 2rem; 
}

.white-line{
    display: flex;
    border-radius: 5rem;
    padding: 2px;
    background-color: var(--clr-white);
    
}

.like-img{
    width: 100%;
    margin-bottom: -4px;
}
.like-btn{
    width: 15%;
    border: none;
    background-color: var(--clr-white);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.featured-like-btn{
    width: 20%;
    border: none;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
}

.more-btn{
    font-style: italic;
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    color: var(--clr-white); 
    font-weight: var(--fw-regular);
    border: none;
    background-color: transparent;
    margin-top: 0.5rem;
    width: 100%;
    
}

.featured-more-btn{
    font-style: italic;
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    color: var(--clr-white); 
    font-weight: var(--fw-regular);
    border: none;
    background-color: transparent;
    margin-top: 0.5rem;
    width: 100%;
}

.line-red {
    border: 0.3rem solid red;
    background: var(--clr-red);
}
.img-details {
    border-radius: 100%;
    background-position: center;
    margin-left: 50px;
    display: flex;
    width: 80%;

}
.vote-item {
    width: 100%;
    display: flex;
}

.left {
    width: 4%;
    margin-right: 10px;
}

.right {
    width: 4%;
    margin-left: 100px;
    margin-right: 10px;
}
.line {
    border-top: 10px solid hsl(0, 88%, 58%);
}

@media (max-width: 767.98px){
    .log-nav{
       display: none;
    }
    
    .register-nav{
        display: none;
    
    }

    .line-red{
        margin-top: 4rem;
    }

    .more-btn{    
        font-size: var(--fs-xs);
        color: var(--clr-white); 
        margin-top: 0.5rem;
    }

    .like-btn{
        width: 20%;
        border-radius: 0.5rem;
    }

    .recepie-main{     
        height: 8.9375rem;
        margin-top: 3rem;
    }
    .left {
        margin-top: 50px;
        width: 10%;
        margin-left: 100px;
    }
    .right {
        width: 10%;
        margin-left: 100px;
        margin-right: 10px;
    }
}